<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Hurling:</b>
  <%= @club.hurling %>
</p>

<p>
  <b>Football:</b>
  <%= @club.football %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
