<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @venue.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @venue.long %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
