<!DOCTYPE html>
<html lang="en">
<head>
  <title>15 a side</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--


					1
					
			2		3		4
			
			5		6		7
			
				8		9
			
			10		11		12
			
			13		14		15
-->



</head>
<body class="<%= controller.controller_name %>">
	
	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">15 a-side</a>
			<% unless session[:user_id] %>
		  		<%= form_tag(new_user_session_path,:method=>"post", :class=>"navbar-form pull-right") do %>
					<%= text_field_tag :username, nil,:placeholder => "username" %>
					<%= password_field_tag :password,nil, :placeholder => "password" %>
					<%= submit_tag "login" %>
				<% end %>
			<% end %>
        </div>
      </div>
    </div>
   
    <div class="container clearfix margin-top-160">
	
		<%= yield %>
    </div> <!-- /container -->
	<div id="footer">
		
	</div>

</body>
</html>
